*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed ;
}

img {
    max-width: 100%;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    
}

.dflex{
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}

.root{
    --dis--back-color:#f6f6f6;
    --dis--back_footer-color: #23272a;
    --dis--button3-color: #8ea1e1;
    --dis--button_main-color: #23272a;
    --dis--back_header-color: #3161e0;
}

.app_header{
    background-color: #3161e0;
}

.text_head{
    color: white;
}

.button_head{
    color: #23272a;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;

}