*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.root{
    --dis--back-color:#f6f6f6;
    --dis--back_footer-color: #23272a;
    --dis--button3-color: #8ea1e1;
    --dis--button_main-color: #23272a;
    --dis--back_header-color: #3161e0;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

/* flex_container */
.container{
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.flexmain{
    
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url(./img/jumbo.png);
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 500px;
    background-size: cover;
    
    
}

.footerflex{

    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
}


.dflex{
    justify-content: space-around;
    display: flex;
    align-items: center;
    
    
}

.flexmain_2{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 3rem;
    align-self: center;
    margin-left: 15%;
    margin-right: 15%;
}

.flexmain_23{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 3rem;
    align-self: center;
    background-color: rgb(235, 235, 235);
    padding-left: 15%;
    padding-right: 15%;
}

.flexmain4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding-top: 70px;
    padding-bottom: 70px;
    
}

/* end_containerflex */

#back_sect2{
    background-color: rgb(235, 235, 235);
}

/* h1_h2_h3_h4 */

h1{
    padding-bottom: 2rem;
}

h3{
    
    background-size: cover;
    padding-bottom: 10px;
}

.h2_article{
    flex-direction: column;
    width: 250px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    
}

h4{
    font-size: 25px;
    color: #8ea1e1;
    padding-bottom: 10px;
}

/* end_h1_h2_h3_h4 */

/* utility */

.app_header{
    background-color: #3161e0;
}

.app_footer{
    background-color: #23272a;
    height: 400px;
}

.end_footer{
    padding-top: 15px;
    justify-content: space-around;
    
}

.text_head{
    color: white;
}

/* end_utility */

/* button */
.button_head{
    color: #23272a;
    background-color: white;


}

button{
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.bt_mac{
    background-color: white;
    color: #23272a;
}

.bt_discord{
    background-color: #23272a;
    color: white;
}

.button_main{
    padding-top: 2rem;
}

.button_sect4{
    background-color: #8ea1e1;
    color: white;
}

/* end_button */ 

article{
    padding-top: 1rem;
}

.ita{
    height: 10px;
    width: 10px;
}

.language_sect{
    width: 200px;    
}


.icons{
    padding-top: 15px;
}

/* table */
.col{
    width: calc ((100% / 12) * 5 );
}

th{
    color: #8ea1e1;
}

td{
    color: white;
    padding-top: 5px;
}
/* end_table */

hr{
    border-color: white;
    border: 1px solid white;
    margin-top: 15px;
    
    margin-left: 250px;
    margin-right: 250px;
}


